:root {
  --cor0: #fff;
  --cor1: #cdf8aa;
  --cor2: #608334;
  --cor3: #97b770;
  --cor4: #365563;
  --cor5: #1c1c1c;
  --cor6: #000000;
}

body {
  font-family: nunito, sans-serif;
  color: var(--cor5);
}
h1,
h2,
h3 {
  font-family: asap, sans-serif;
  color: var(--cor6);
}
.botao {
  color: var(--cor0);
  text-decoration: none;
  padding: 10px 30px;
  background-color: var(--cor4);
  font-size: 0.9em;
  border-radius: 3px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor3);
}
nav a {
  text-decoration: none;
  color: var(--cor0);
  font-weight: 800;
  font-size: 16px;
  font-family: yeloowtail, sans-serif;
  margin-top: 0%;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 0%;
}
nav ul li {
  text-align: center;
  width: 30%;
  margin-top: 0%;
}
nav ul li a {
  display: inline-block;
  padding: 30px;
  width: 100%;
  text-decoration: none;
  color: var(--cor0);
  margin-top: 0%;
}
nav ul li a:hover {
  background-color: var(--cor1);
  color: var(--cor2);
  height: 100%;
  text-align: center;
  border-radius: 10px;
  margin-top: 0%;
}

header {
  margin: 0;
  padding: 0;
  
  z-index: 1;
}

.slider {
  margin: 0 auto;
  width: 100%;
  height: 639px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  align-items: center;
  
}

.slider img {
  width: 100%;
  height: 100%;
  align-items: center;
  object-fit: scale-down;
}

.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider .slide.active {
  opacity: 1;
}

.slider .navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slider .navigation span {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.slider .navigation span.active {
  background: #333;
}

.slider .arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
}

.slider .arrows button {
  background: transparent;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 10px 20px 20px;
  background-color: var(--cor4);
  color: var(--cor0);
  margin-top: 20px;
}

#sobre h2 {
  color: var(--cor0);
}
#sobre p {
  margin-bottom: 2.5em;
  max-width: 1000px;
  text-align: justify;
}
#sobre.botao {
  background-color: var(--cor0);
  color: var(--cor5);
}
#Oportunidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
#Oportunidades div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

#grade {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#grade h2 {
  margin-bottom: 20px;
}
#grade img {
  width: 100%;
}

#perguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#contato h2 {
  color: var(--cor6);
}

/* pop-up INTERCAMBIO*/
#popupInter {
  width: 500px;
  padding: 40px;
  background-color: var(--cor0);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--cor0);
  width: 80%;
  border-radius: 10px;
}
#popupInter p{
  text-align: justify;
}
button {
  background-color: var(--cor2);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: var(--cor3);
}

/*POP-UP PROFIC*/
#popupProfici {
  width: 500px;
  padding: 40px;
  background-color: var(--cor0);
  border: 1px solid var(--cor0);
  border-radius: 10px;
  text-align: center;
}
#popupProfici > p {
  text-align: justify;
}
button {
  background-color: var(--cor2);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: var(--cor3);
}
/*Pop-up PROAE*/
#popupProae {
  width: 500px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}
#popupProae > p {
  text-align: justify;
}
#popupProae > ul {
  text-align: justify;
}
#Sd{
  width: 500px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}
#Sd> p{
  text-align: justify;
}
#Sd> ul{
  text-align: justify;
}
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #439946;
}
/*pop-up RU*/
#popupRu {
  width: 500px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}
#popupRu > p{
  text-align: justify;
}

button {
  background-color: var(--cor2);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: var(--cor3);
}
#buzufba > h2{
  text-align: center;
  width: 100%;
}
.conteiner >img{
 display: flex;
 margin-left: 20%;
 justify-content: center;
 min-width: 30%;


 
}
.conteiner> p{
  display: flex;
  text-align: justify;
  margin-left: 100px;
  margin-right: 20%;
  max-width: 90%;

  
}
.conteiner{
  display: flex;
  flex-direction: row;
  max-width: 90%;
  justify-content: center;
  text-align: center;
  
}


img {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

img:hover {
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -moz-transform: scale(1.25); /* Firefox */
  -ms-transform: scale(1.25); /* IE 9 */
  -o-transform: scale(1.25); /* Opera */
  transform: scale(1.25);
}
footer {
  text-align: center;
  padding: 10px;
  background-color: var(--cor4);
  color: var(--cor0);
}

footer a {
  text-decoration: none;
  color: var(--cor0);
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }
  nav ul {
    flex-direction: row;
    width: 70%;
  }

  #sobre {
    height: 250px;
    height: 30vh;
    justify-content: center;
    min-height: 250px;
  }
  #Oportunidades {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
  }
  #Oportunidades h2 {
    text-align: center;
    width: 100%;
  }
  #Oportunidades div {
    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
  }
  #grade {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
  justify-content: center;
  text-align: center;
  
    
margin: 0 auto;
  }
  #grade h2 {
    width: 100%;
    text-align: center;
  }
  #grade img {
    width: 33.3333333%;
  }
  #grade > ul li{
    text-align: justify;
    text-decoration: none;

  }

  #contato {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 900px;
    margin: 0 auto;
  }
  #contato h2,
  #contato p {
    width: 100px;
  }
}
